[submodule "third_party/emilib"]
	path = third_party/emilib
	url = https://github.com/emilk/emilib.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
